<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>User's Bookings</title>
</head>
<body>
<div layout:fragment="admin_content">
    <section class="projects-section masthead" id="booking-history">
        <div class="featured-text vertical-separator h-100">
            <div>
                <h1 style="text-align:center;color: var(--bs-link-color)">Bookings</h1>
            </div>
            <div class="d-flex justify-content-center">
                <table class="table-dark" style="width: 70%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User's name</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Current Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${bookingHistoryList.isEmpty()}">
                        <td colspan="7"> No Books Available </td>
                    </tr>
                    <tr th:each="booking : ${bookingHistoryList}">
                        <td><span th:text="${booking.id}"> 100023 </span></td>
                        <td><span th:text="${booking.email}"> Some DateTime </span></td>
                        <td><span th:text="${booking.fromDate}"> Some DateTime </span></td>
                        <td><span th:text="${booking.toDate}"> Some DateTime </span></td>
                        <td><a th:text="${booking.status}"> PENDING </a></td>
                        <td>
                            <div th:if="${booking.status == 'PENDING'}">
                                <a class="btn btn-primary" style="padding: 0.5rem 1.5rem" th:href="@{/admin/approve/{id}(id=${booking.id})} ">
                                    APPROVE </a>
                            </div>
                        </td>
                        <td>
                            <div th:if="${booking.status == 'PENDING' || booking.status == 'APPROVED'}">
                                <a class="btn btn-warning" style="padding: 0.5rem 1.5rem" th:href="@{/booking/decline/{id}(id=${booking.id})} ">
                                    DECLINE </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>