<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>User's Bookings</title>
</head>
<body>
<div layout:fragment="admin_content">
    <section class="projects-section masthead" id="booking-history">
        <div class="featured-text vertical-separator h-100">
            <div>
                <h1 style="text-align:center;color: var(--bs-link-color)">Users</h1>
            </div>
            <div class="d-flex justify-content-center">
                <table class="table-dark" style="width: 70%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Bookings</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${userList.isEmpty()}">
                        <td colspan="3"> No Books Available </td>
                    </tr>
                    <tr th:each="user : ${userList}">
                        <td><span th:text="${user.id}"> 100023 </span></td>
                        <td><span th:text="${user.email}"> Some DateTime </span></td>
                        <td><a th:text="${user.amountOfBookings}" th:href="@{/admin/history/{id}(id=${user.id})} "> 1 </a></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>